.parent-container {
    display: flex;
    justify-content: flex-start; /* Sicherstellen, dass der übergeordnete Container links ausgerichtet ist */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

input, select, textarea {
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 55px;
    resize: none;
}

.register, .login, .create-post{
    margin-inline: auto;
    height: calc(100vh - 10rem);
    display:grid;
    place-items: center;
}
.register h2, .login h2, .create-post h2{
    margin-bottom: 2rem;
}

.register small, .login small {
    display: block;
    margin-top: 1.5rem;
}

.register small a, .login small a{
    color: aqua;
}