body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Mindesthöhe des Viewports */
}

.container {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    cursor: default;
}

.blog-card {
    display: flex; /* Flexbox für die Blog-Karte */
    gap: 20px; /* Abstand zwischen Bild und Inhalt */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .blog-card {
        flex-direction: column; /* Stapeln auf kleineren Bildschirmen */
    }
}

.blog-card:hover {
    transform: scale(1.05);
}

.image-preview {
    width: 35%; /* Breite des Bildes */
    max-width: 200px; /* Maximale Breite des Bildes */
    border-radius: 8px; /* Abgerundete Ecken */
    overflow: hidden;
}

.image-preview img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 8px; /* Abgerundete Ecken */
}

.blog-content {
    flex: 1; /* Nimmt den verfügbaren Platz ein */
}

.blog-title {
    font-size: 1.6em;
    color: #333;
    margin: 0;
    text-decoration: none;
}

.blog-title a {
    text-decoration: none;
    color: inherit;
}

.blog-description {
    font-size: 1em;
    color: #666;
    margin-top: 10px;
    line-height: 1.6;
}
