.blog-card {
    text-align: left; /* Text links ausrichten */
    overflow: hidden;
    margin: 80px auto 20px; /* Oben: 80px, links/rechts: auto (zentriert), unten: 20px */
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Maximale Breite der Karte */
}

.image-preview {
    float: left; /* Bild nach links floaten */
    margin-right: 16px; /* Rechter Abstand zum Text */
}

.image-preview img {
    max-width: 100px; /* Maximale Breite des Bildes */
    height: auto; /* Erhält das Seitenverhältnis */
    border-radius: 5px; /* Optional: Abgerundete Ecken */
    transform: scale(1.2); /* Vergrößert das Bild um 20% */
    transition: transform 0.3s ease; /* Übergangseffekt bei Vergrößerung */
}

.blog-title {
    font-size: 24px;
    color: #333;
    margin-top: 10px; /* Kein Abstand oberhalb des Titels */
    margin-bottom: 3px; /* Abstand unterhalb des Titels */
}

.blog-description {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    overflow: hidden; /* Verhindert das Überlaufen von Text */
    text-overflow: ellipsis; /* Zeigt "..." an, wenn der Text zu lang ist */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Zeigt maximal 3 Zeilen Text an */
    -webkit-box-orient: vertical; /* Legt die Richtung der Box fest */
}
