body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135vh;
}

.container {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding-bottom: 2rem;
    cursor: default;

}
.blog-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center; /* Zentriert die Karten horizontal */
}

@media (max-width: 768px) {
    .blog-card {
        grid-template-columns: 1fr; /* Ein Spalte auf kleineren Bildschirmen */
    }
}

.blog-card:hover {
    transform: scale(1.05);
}

.image-preview {
    width: 35%; /* Breite des Bildes */

    border-radius: 10%;
}

.image-preview img {

    width: 100%;
    height: auto; /* Automatische Höhe */
    object-fit: cover; /* Bild zuschneiden, um den Container zu füllen */
    display: block;
}

.blog-content {
    padding: 10px;
    flex: 1; /* Nimmt den verfügbaren Platz ein */
}

.blog-title {
    font-size: 1.6em;
    color: #333;
    margin: 0;
    text-decoration: none;
}

.blog-title a {
    text-decoration: none;
    color: inherit;

}

.blog-description {
    font-size: 1em;
    color: #666;
    margin-top: 10px;
    line-height: 1.6;
}
