
:root {
    --color-primaary: #6f6af8;
    --color-bg: hwb(240 95% 0%);
    --container-width-lg: 84%;
    --color-white:#fff;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;

}


body {
    font-family: sans-serif;
    background: var(--color-bg);
    font-size: 0.9rem;
    line-height: 1.6;
}


a {
    text-decoration: none;
}



img {
    display: block;
    object-fit: cover;
    width: 100%;
}


.nav_logo {
    width: 3rem;
    display: block;

}


ul {
    list-style: none;
}

nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    border-bottom: 4px solid var(--color-bg);
    backdrop-filter: blur(20px);
}

.nav_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.nav_menu {
    position: absolute;
    top: 5rem;
    flex-direction: column;
    right: 0;
    gap: 0;
}

.nav_menu li {
    width: 100%;
    box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.26);
    animation: dropDown 500ms
}

@keyframes dropDown  {

    to {
        opacity: 1;
        transform: rotateX(0)
     }
    }

.nav_menu li:nth-child(2){
    animation-delay: 300ms;
}


.nav_menu li a {
    display: block;
    background:var(--color-white);
    padding: 0.85rem 2.5rem;
}
.nav_toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}


.container {
    width: var(--container-width-lg);
}