body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;

    padding: 0;
    margin-top: 15vh;
}

.blog-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-detail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blog-detail h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.blog-detail p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button,
.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover,
.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}
